body {
    background: rgba(53, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

input {
    height: 4rem;
    font-size: 4rem;
    background: rgba(226, 226, 226);
    color: rgba(251, 54, 64);
}

.results {
    font-size: 2.5rem;
    color: ghostwhite;
    max-width: 90%;
}
